name: Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a build.sh
        run: bash build.sh
        shell: bash
      - name: Archive artifacts (jar)
        uses: actions/upload-artifact@v2
        with:
          name: save jar
          path: dist
